header {
  background-color: rgb(33, 33, 243);
  font-size: 14px;
}

h1 {
  display: block;
  font-size: 150px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 800;
  text-align: center;
}

.title {
  background-color: #e40f0f;
}