

//@import "_header";
@import "_nullstyle";
@import "_mixins-and-functions";

body {
    line-height: 1;
    background-color: #333;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

//переводим в em
//делим размер по макету (768px)
//на размер шрифта (16px)
@media (min-width: 48em){
    .example__container::before{
        content: "";
            background: url("../source/images/5.png") 0 0 / 100% no-repeat;
            position: absolute;
            right: 0;
            //ширину по макету делим на
            //ширину example__container
            //(родителя с position: relative;)
            //умножаем на 100
            // 153 / 1050 * 100 = 14,57
            width: 14.57%;
            //высоту картинки по макету делим на
            //ширину example__container
            //(родителя с position: relative;)
            //умножаем на 100
            // 241 / 1050 * 100 = 22,95
            padding-top: 22.95%;
            top: 50%;
            //сдвиг вправо и вверх на половину
            //ширину/высоту картинки (меняется)
            transform: translate(50%, -50%);
    }
}
@media (max-width: 48em) {
    //переводим в rem
    //делим ширину по макету (28px)
    //на 14 (размер шрифта по умолчанию
    .example__title {
        font-size: 2rem;
    }
}
.example {
    padding: 80px 0;

    &__container {
        padding: 0px 15px;
        margin: 0 auto;
        //переводим в REM
        //делим ширину по макету (1020px + 30px)
        //на 16 (размер шрифта по умолчанию)
        max-width: 65.625rem;
        position: relative;
       
    }

    &__header {
        margin: 0px 0px 25px 0px; //вниз
        //переводим в rem
        //делим ширину по макету (750px)
        //на 16 (размер шрифта по умолчанию
        min-width: 46.875rem;
    }

    &__subtitle {
        color: #a989c7;
        font-weight: 700;
        text-transform: uppercase;
        //переводим в rem
        //делим размер по макету (14px)
        //на 16 (размер шрифта по умолчанию)
        font-size: 0.875rem;
        //переводим либо в % либо части
        //делим размер по макету (24px)
        //на размер шрифта (14px)
        line-height: 1.7;
        //переводим в em
        //делим размер по макету (15px)
        //на размер шрифта (14px)
        margin: 0px 0px 1.07em 0px;
    
    }

    &__title {
        color: #93b482;
        text-transform: uppercase;
        font-weight: 900;
        //переводим в rem
        //делим размер по макету (42px)
        //на 14 (размер шрифта по умолчанию)
        font-size: 3rem;
        //переводим либо в % либо части
        //делим размер по макету (50px)
        //на размер шрифта (42px)
        line-height: 1.19;
        //переводим в em
        //делим размер по макету (16px)
        //на размер шрифта (42px)
        margin: 0px 0px 0.38rem 0px;
        //переводим в em
        //делим размер по макету (5px)
        //на размер шрифта (42px)
        letter-spacing: 0.12em;
        @media (max-width: 48em) {
            //переводим в rem
            //делим ширину по макету (30px)
            //на 16 (размер шрифта по умолчанию
            
                font-size: 2rem;
            
        }
    }

    &__text {
        //переводим либо в % либо части
        //делим размер по макету (24px)
        //на размер шрифта (16px)
        line-height: 1.5;

    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        row-gap: 24px;
        margin: 0px -12px;
    }

    &__item {
        padding: 0px 12px;
        //получаем размер в %
        //делим общую ширину 100% на 3
        flex: 1 1 33.333%;
        //переводим в rem
        //делим размер по макету (290px)
        //на 16 (размер шрифта по умолчанию)
        min-width: 18.125rem;
    }
}
.item-example {
    display: flex;
    column-gap: 23px;
    align-items: start;

    &__icon {
        flex: 0 0 63px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    &__body {
    }

    &__title {
        color: #f2726f;
        font-weight: 900;
        //переводим в rem
        //делим размер по макету (24px)
        //на 16 (размер шрифта по умолчанию)
        font-size: 1.5rem;
        //переводим в em
        //делим размер по макету (11px)
        //на размер шрифта (24px)
        margin: 0px 0px 0.45em 0px;

    }

    &__text {
        //переводим либо в % либо части
        //делим размер по макету (24px)
        //на размер шрифта (16px)
        line-height: 1.5;
    }
}

